@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    padding: 40px;
    font-family: Montserrat;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    max-width: 1280px;
}

.sidebar {
    background-color: #1e2939;
    width: 370px;
    padding: 40px 0;
}

.my-photo {
    width: inherit;
}

.main-container {
    padding: 110px 90px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin: 60px 40px 55px 40px;
}

.contacts-title,
.tech-skills-title,
.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #687486;
}

.contacts-link-tel {
    text-decoration: none;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.tech-skills-item,
.soft-list-item {
    font-size: 14px;
    font-weight: 400;
    color: #ff6b08;
    margin-left: 15px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.tech-skills-item-text,
.soft-list-item-text {
    color: #fff;
}

.main-container-sub-title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.main-container-title {
    color: #000;
    font-size: 45px;
    font-weight: bolder;
    margin: 25px 0;
}

.main-container-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    margin-bottom: 65px;
}

.section-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    margin-bottom: 15px;
}

.section-project {
    margin-bottom: 55px;
}

.section-project-item {
    margin-left: 20px;
    font-weight: 700;
}

.section-project-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration: none;
}

.bold {
    font-weight: 700;
    color: #000;
}

.work-expierence-container {
    margin-bottom: 55px;
}

.work-expierence-section {
    margin-bottom: 25px;
}

.work-expierence-title,
.education-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.48px;
    margin-bottom: 15px;
}

.work-expierence-title_color {
    color: #ff6b08;
    letter-spacing: 0.48px;
}

.work-expierence-list {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.date {
    display: block;
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.36px;
    margin-bottom: 15px;
}

.education-title {
    color: #ff6b08;
}

.education-sub-title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 15px;
}

.dots{
    font-style: normal;
    font-weight: 100;
    letter-spacing: 2.1px;
}