* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1d95c9;
	width: 100%;
	height: 100%;
}

a {
	color: #000;
}

footer {
	padding: 35px;
}

.container {
	width: 95%;
	margin: 0 auto;
}

.flex-wrap {
	display: flex;
}

.current-date,
.class-name {
	width: 50%;
}

.header {
	color: #f1f1f1;
	position: sticky;
	padding: 15px 15px 10px;
	top: 0;
	margin-bottom: 8px;
	background-color: #1d95c9;
	z-index: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.page-title {
	text-align: center;
	margin-bottom: 8px;
}

.class-name {
	text-align: right;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	background-color: #e2e2e2;
	height: 180px;
	min-width: 285px;
	border-radius: 15px;
}

.card-select {
	background-color: #03da2e;
}

.card-title {
	text-align: center;
	margin-bottom: 8px;
}

.card-list {
	margin-left: 25px;
}

.list-item {
	position: relative;
	margin-bottom: 4px;
}

.card-item__text-left {
	position: absolute;
	right: 0;
}

.note {
	height: fit-content;
	background-color: #fff59d;
}

.note li {
	margin-left: 20px;
}

.column {
	width: 33.33%;
	padding: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.btn-link {
	background-image: linear-gradient(-180deg, #37e2a6 0%, #1ec85c 100%);
	border-radius: 0.5rem;
	box-sizing: border-box;
	color: #ffffff;
	display: flex;
	font-size: 16px;
	justify-content: center;
	padding: 1rem 1.75rem;
	text-decoration: none;
	width: 100%;
	border: 0;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

#sky {
	position: absolute;
	z-index: 2;
	overflow: hidden;
}

.btn-link:hover {
	background-image: linear-gradient(-180deg, #6dc91d 0%, #4c9c17 100%);
}

@media (min-width: 768px) {
	.button {
		padding: 1rem 2rem;
	}
}

@media screen and (max-width: 950px) {
	.column {
		width: 50%;
	}
}

@media screen and (max-width: 700px) {
	.column {
		width: 100%;
	}

	p {
		font-size: 14px;
	}

	footer {
		padding: 20px;
	}
}

.snowflake {
	color: #fff;
	font-size: 1em;
	font-family: Arial;
	text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
	0% {
		top: -10%;
	}
	100% {
		top: 100%;
	}
}
@-webkit-keyframes snowflakes-shake {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	50% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}
@keyframes snowflakes-fall {
	0% {
		top: -10%;
	}
	100% {
		top: 100%;
	}
}
@keyframes snowflakes-shake {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(80px);
	}
	100% {
		transform: translateX(0px);
	}
}
.snowflake {
	position: fixed;
	top: -10%;
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	-webkit-animation-name: snowflakes-fall, snowflakes-shake;
	-webkit-animation-duration: 10s, 3s;
	-webkit-animation-timing-function: linear, ease-in-out;
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-play-state: running, running;
	animation-name: snowflakes-fall, snowflakes-shake;
	animation-duration: 10s, 3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
	left: 1%;
	-webkit-animation-delay: 0s, 0s;
	animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
	left: 10%;
	-webkit-animation-delay: 1s, 1s;
	animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
	left: 20%;
	-webkit-animation-delay: 6s, 0.5s;
	animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
	left: 30%;
	-webkit-animation-delay: 4s, 2s;
	animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
	left: 40%;
	-webkit-animation-delay: 2s, 2s;
	animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
	left: 50%;
	-webkit-animation-delay: 8s, 3s;
	animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
	left: 60%;
	-webkit-animation-delay: 6s, 2s;
	animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
	left: 70%;
	-webkit-animation-delay: 2.5s, 1s;
	animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
	left: 80%;
	-webkit-animation-delay: 1s, 0s;
	animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
	left: 90%;
	-webkit-animation-delay: 3s, 1.5s;
	animation-delay: 3s, 1.5s;
}
