@import url(../css/reset.css);
@import url(../css/fonts.css);
/* variables start */
/* variables end */
/* custum style start */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  /* min-width: 1440px; */
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #1F1F1D;
}

.wrapper {
  width: 1145px;
  margin: 0 auto;
}

/* custum style end */
/* header style start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 118px;
  background: #fff;
}

.header__menu {
  width: 22px;
  height: 23px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 47px;
  background: url(../img/svg/bars.svg);
}

.header__menu:hover {
  background: url(../img/svg/times.svg);
}

.header__logo {
  text-align: center;
  line-height: 118px;
}

/* header style end */
/* section general style start */
.section__title {
  font-weight: 500;
  margin-bottom: 30px;
}

.section__title-text {
  text-transform: uppercase;
}

/* section general style end */
/* article general style start */
.article__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__img-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__date-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  margin-bottom: 22px;
}

.article__date-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 6px;
}

.article__tag-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
}

.article__title {
  font-weight: 500;
  text-transform: uppercase;
}

.article__btn {
  margin: 0 auto;
  width: 238px;
  height: 42px;
  text-align: center;
  color: #fff;
  background: #1F1F1D;
}

.article__btn-more {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 42px;
  color: #FFFFFF;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}

.article__btn-more:hover, .article__btn-more:active, .article__btn-more:focus {
  background: #000;
}

.article__small {
  margin-bottom: 63px;
}

.article__small .article {
  width: 363px;
}

/* article general style end* /

/* image style start*/
.big__img {
  height: 368px;
  margin-bottom: 26px;
}

.small__img {
  height: 240px;
  margin-bottom: 18px;
}

/* image style end*/
/*-------------------------------------------------*/
/* section intro style start*/
.section__intro {
  margin-top: 118px;
  margin-bottom: 59px;
}

.section__intro .article {
  width: 100%;
  color: #fff;
}

.section__intro .article__wrapper {
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__intro .article__img {
  height: 570px;
  width: 50%;
}

.section__intro .article__publish {
  background-color: #000;
  padding: 107px 109px 0 108px;
  width: 50%;
}

.section__intro .article__date-create {
  margin-bottom: 66px;
}

.section__intro .article__date-text {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 7px;
}

.section__intro .article__tag-text {
  font-size: 16px;
  line-height: 24px;
}

.section__intro .article__title {
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 29px;
}

.section__intro .article__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 54px;
}

.section__intro .article__btn {
  margin: 0;
  width: 198px;
  height: 55px;
  border: 1px solid #fff;
  background: #000;
}

.section__intro .article__btn-more {
  line-height: 55px;
  font-size: 12px;
  -webkit-transition: background .2s linear, color .2s linear;
  transition: background .2s linear, color .2s linear;
}

.section__intro .article__btn-more:hover, .section__intro .article__btn-more:active, .section__intro .article__btn-more:focus {
  background-color: #fff;
  color: #000;
}

/* section intro style end*/
/* section feature style start */
.section__featured {
  margin-bottom: 71.33px;
}

.section__featured .article__big {
  margin-bottom: 63px;
}

.section__featured .article__big .article {
  width: 557px;
}

.section__featured .article__big .article__date-create {
  color: #000;
  margin-bottom: 34px;
}

.section__featured .article__big .article__title {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 19px;
}

/* section feature style end */
/* section meeting style start*/
.section__meeting {
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-bottom: 64px;
}

.section__meeting .article {
  width: 100%;
  color: #FFFFFF;
}

.section__meeting .article__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__meeting .article__img {
  width: 50%;
}

.section__meeting .article__publish {
  background-color: #000;
  color: #fff;
  width: 50%;
  padding: 123px 0 116px;
}

.section__meeting .article__title {
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section__meeting .article__btn {
  width: 198px;
  border: 1px solid #fff;
  text-align: center;
  background: #000;
}

.section__meeting .article__btn-more {
  -webkit-transition: background .2s linear, color .2s linear;
  transition: background .2s linear, color .2s linear;
}

.section__meeting .article__btn-more:hover, .section__meeting .article__btn-more:active, .section__meeting .article__btn-more:focus {
  background-color: #fff;
  color: #000;
}

/* section meeting style end*/
/* section interviews style start */
.section__interviews {
  margin-bottom: 33px;
}

.section__interviews .article__small {
  margin-bottom: 38px;
}

/* section interviews style end */
/* section news style start */
.section__news {
  margin-bottom: 100px;
}

.section__news .article__small {
  margin-bottom: 31px;
}

/* section news style end */
/* footer style start */
.footer {
  position: relative;
  left: 0;
  right: 0;
  height: 142px;
  background: #000;
}

.footer__logo {
  text-align: center;
  line-height: 142px;
}

.footer__licence {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__licence-text {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

/* footer style end */
/*---------------------- media --------------------------*/
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 941px;
  }
  .big__img {
    height: 301px;
  }
  .small__img {
    height: 194px;
  }
  .section__intro .article__publish {
    padding: 125px 104px 0;
  }
  .section__intro .article__date-create {
    margin-bottom: 36px;
  }
  .section__intro .article__title {
    margin-bottom: 23px;
  }
  .section__intro .article__text {
    margin-bottom: 36px;
  }
  .article__small .article {
    width: 293px;
  }
  .section__featured {
    margin-bottom: 60px;
  }
  .section__featured .article__big {
    margin-bottom: 59px;
  }
  .section__featured .article__big .article {
    width: 455px;
  }
  .section__featured .article__small {
    margin-bottom: 85px;
  }
  .section__meeting {
    margin-bottom: 60px;
  }
  .section__interviews {
    margin-bottom: 60px;
  }
  .section__interviews .article__small {
    margin-bottom: 60px;
  }
  .section__news {
    margin-bottom: 87px;
  }
  .section__news .article__small {
    margin-bottom: 60px;
  }
  .footer {
    height: 163px;
  }
  .footer__licence {
    bottom: 25px;
  }
}

@media screen and (max-width: 970px) {
  .wrapper {
    width: 720px;
  }
  .header {
    height: 65px;
  }
  .header__logo {
    text-align: center;
    line-height: 85px;
  }
  .big__img {
    height: 228px;
  }
  .small__img {
    height: 145px;
  }
  .section__intro {
    margin-top: 65px;
  }
  .section__intro .article__wrapper {
    height: 354px;
  }
  .section__intro .article__img {
    height: 354px;
  }
  .section__intro .article__publish {
    padding: 72px 18px;
  }
  .section__intro .article__date-create {
    margin-bottom: 20px;
  }
  .section__intro .article__title {
    margin-bottom: 20px;
  }
  .section__intro .article__text {
    margin-bottom: 31px;
  }
  .section__intro .article__tag-text {
    display: none;
  }
  .section__intro .article__title {
    font-size: 18px;
    line-height: 27px;
  }
  .section__intro .article__text {
    font-size: 12px;
    line-height: 18px;
  }
  .section__intro .article__btn {
    height: 40px;
  }
  .section__intro .article__btn-more {
    line-height: 42px;
  }
  .article__small .article {
    width: 220px;
  }
  .section__featured {
    margin-bottom: 60px;
  }
  .section__featured .article__big {
    margin-bottom: 59px;
  }
  .section__featured .article__big .article {
    width: 345px;
  }
  .section__featured .article__small {
    margin-bottom: 85px;
  }
  .section__meeting {
    height: 275px;
    margin-bottom: 60px;
  }
  .section__meeting .article__img {
    height: 275px;
  }
  .section__meeting .article__publish {
    padding: 89px 80px;
  }
  .section__meeting .article__title {
    font-size: 18px;
    line-height: 27px;
  }
  .section__interviews {
    margin-bottom: 60px;
  }
  .section__interviews .article__small {
    margin-bottom: 60px;
  }
  .section__news {
    margin-bottom: 87px;
  }
  .section__news .article__small {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }
  .header {
    height: 65px;
  }
  .header__logo {
    line-height: 85px;
  }
  .wrapper {
    width: 97%;
  }
  .big__img {
    height: auto;
  }
  .small__img {
    height: auto;
  }
  .section__title-text {
    display: none;
  }
  .section__intro {
    margin-bottom: 25px;
  }
  .section__intro .article__wrapper {
    height: auto;
  }
  .section__intro .article__img {
    width: 100%;
  }
  .section__intro .article__publish {
    width: 100%;
    padding: 15px 13px 22px 12px;
  }
  .section__intro .article__date-text {
    margin-bottom: 16px;
  }
  .section__intro .article__tag-text {
    display: none;
  }
  .section__intro .article__text {
    margin-bottom: 20px;
  }
  .article {
    margin-bottom: 20px;
  }
  .article__small {
    margin-bottom: 20px;
  }
  .article__small .article {
    width: 100%;
  }
  .section__featured {
    margin-bottom: 39px;
  }
  .section__featured .article__big {
    margin-bottom: 20px;
  }
  .section__featured .article__big .article {
    width: 100%;
    height: auto;
  }
  .section__featured .article__big .article__tag-text {
    display: none;
  }
  .section__featured .article__big .article__date-create {
    margin-bottom: 16px;
  }
  .section__featured .article__big .article__title {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 21px;
  }
  .section__featured .article__big .article__text {
    font-size: 14px;
    line-height: 21px;
  }
  .section__featured .article__small {
    margin-bottom: 33px;
  }
  .section__meeting {
    height: auto;
    margin-bottom: 20px;
  }
  .section__meeting .article__img {
    height: auto;
    width: 100%;
  }
  .section__meeting .article__publish {
    width: 100%;
    padding: 39px 60px;
  }
  .section__meeting .article__title {
    font-size: 18px;
    line-height: 27px;
  }
  .section__interviews {
    margin-bottom: 30px;
  }
  .section__interviews .article__small {
    margin-bottom: 20px;
  }
  .section__news {
    margin-bottom: 30px;
  }
  .section__news .article__small {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */