.field-type-range .noUi-background {
  background: #ebeff5
}

.field-type-range .noUi-target {
  background-color: #e4e9f2;
  border: none;
  box-shadow: none;
  border-radius: 1rem
}

.field-type-range .noUi-target.noUi-connect {
  box-shadow: none
}

.field-type-range .noUi-horizontal {
  height: 10px;
  padding-right: 17px
}

.field-type-range .noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  top: -5px;
  left: -1px
}

.field-type-range .noUi-horizontal .noUi-origin {
  left: 17px;
  right: -17px
}

.field-type-range .noUi-horizontal.range-sp_xl {
  height: 14px
}

.field-type-range .noUi-horizontal.range-sp_xl .noUi-handle {
  width: 28px;
  height: 28px;
  top: -7px
}

.field-type-range .noUi-horizontal.range-sp_lg {
  height: 12px
}

.field-type-range .noUi-horizontal.range-sp_lg .noUi-handle {
  width: 24px;
  height: 24px;
  top: -6px
}

.field-type-range .noUi-horizontal.range-sp_sm {
  height: 6px
}

.field-type-range .noUi-horizontal.range-sp_sm .noUi-handle {
  top: -7px
}

.field-type-range .noUi-horizontal.range-sp_xs {
  height: 3px
}

.field-type-range .noUi-horizontal.range-sp_xs .noUi-handle {
  top: -8px
}

.field-type-range .noUi-handle {
  box-shadow: none;
  border: none;
  border-radius: 50%;
  background: #FFF;
  border: 5px solid #00B5B8
}

.field-type-range .noUi-handle:after,
.field-type-range .noUi-handle:before {
  display: none
}

.field-type-range .range-sp_circle-filled .noUi-handle {
  background: #00B5B8;
  border-radius: 50%
}

.field-type-range .range-sp_circle-filled .noUi-handle:after,
.field-type-range .range-sp_circle-filled .noUi-handle:before {
  display: none
}

.field-type-range .range-sp_square .noUi-handle {
  background: #00B5B8;
  border-radius: 3px
}

.field-type-range .range-sp_square .noUi-handle:before {
  display: block;
  width: 2px;
  height: 10px;
  left: 2px;
  top: 0
}

.field-type-range .range-sp_square .noUi-handle:after {
  display: block;
  width: 2px;
  height: 10px;
  left: 7px;
  top: 0
}

.field-type-range .range-sp_square.range-sp_xl .noUi-handle:before {
  left: 5px;
  top: 4px
}

.field-type-range .range-sp_square.range-sp_xl .noUi-handle:after {
  left: 10px;
  top: 4px
}

.field-type-range .range-sp_square.range-sp_lg .noUi-handle:before {
  left: 3px;
  top: 2px
}

.field-type-range .range-sp_square.range-sp_lg .noUi-handle:after {
  left: 8px;
  top: 2px
}

.field-type-range .noUi-connect {
  background: #00B5B8;
  box-shadow: none
}

.field-type-range .noUi-vertical {
  display: inline-block;
  width: 8px;
  height: 150px
}

.field-type-range .noUi-vertical .noUi-handle {
  width: 20px;
  height: 20px;
  top: -5px;
  left: -6px
}

.field-type-range .noUi-vertical.range-sp_square .noUi-handle {
  background: #00B5B8;
  border-radius: 3px
}

.field-type-range .noUi-vertical.range-sp_square .noUi-handle:before {
  display: block;
  width: 12px;
  height: 2px;
  left: -1px;
  top: 2px
}

.field-type-range .noUi-vertical.range-sp_square .noUi-handle:after {
  display: block;
  width: 12px;
  height: 2px;
  left: -1px;
  top: 7px
}

.field-type-range .range-sp_success .noUi-connect {
  background: #16D39A !important
}

.field-type-range .range-sp_success.noUi-connect {
  background: #16D39A !important
}

.field-type-range .range-sp_success .noUi-handle {
  border-color: #16D39A !important
}

.field-type-range .range-sp_success.range-sp_circle-filled .noUi-handle,
.field-type-range .range-sp_success.range-sp_square .noUi-handle {
  background: #16D39A !important
}

.field-type-range .range-sp_info .noUi-connect {
  background: #2DCEE3 !important
}

.field-type-range .range-sp_info.noUi-connect {
  background: #2DCEE3 !important
}

.field-type-range .range-sp_info .noUi-handle {
  border-color: #2DCEE3 !important
}

.field-type-range .range-sp_info.range-sp_circle-filled .noUi-handle,
.field-type-range .range-sp_info.range-sp_square .noUi-handle {
  background: #2DCEE3 !important
}

.field-type-range .range-sp_warning .noUi-connect {
  background: #FFA87D !important
}

.field-type-range .range-sp_warning.noUi-connect {
  background: #FFA87D !important
}

.field-type-range .range-sp_warning .noUi-handle {
  border-color: #FFA87D !important
}

.field-type-range .range-sp_warning.range-sp_circle-filled .noUi-handle,
.field-type-range .range-sp_warning.range-sp_square .noUi-handle {
  background: #FFA87D !important
}

.field-type-range .range-sp_danger .noUi-connect {
  background: #FF7588 !important
}

.field-type-range .range-sp_danger.noUi-connect {
  background: #FF7588 !important
}

.field-type-range .range-sp_danger .noUi-handle {
  border-color: #FF7588 !important
}

.field-type-range .range-sp_danger.range-sp_circle-filled .noUi-handle,
.field-type-range .range-sp_danger.range-sp_square .noUi-handle {
  background: #FF7588 !important
}

.field-type-range .range-sp_purple .noUi-connect {
  background: #9C27B0 !important
}

.field-type-range .range-sp_purple.noUi-connect {
  background: #9C27B0 !important
}

.field-type-range .range-sp_purple .noUi-handle {
  border-color: #9C27B0 !important
}

.field-type-range .range-sp_purple.range-sp_circle-filled .noUi-handle,
.field-type-range .range-sp_purple.range-sp_square .noUi-handle {
  background: #9C27B0 !important
}

.filters-block-header {
  display: flex;
  display: -ms-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -ms-align-items: center;
  margin-bottom: 10px
}

.filters-block-header>a {
  display: block;
  padding: 12px;
  color: #333;
  text-transform: uppercase
}

.filters-block-header>a:not(.collapsed)>i:before {
  content: "\f147"
}

.filters-block-header>a>i {
  float: right;
  font-size: 1.3125em;
  margin-top: -1px;
  color: #c3c2c2
}

.filters-block-body .link-clear-filters {
  display: inline-block;
  font-size: 12px;
  margin-top: 12px;
  line-height: 1.3;
  color: #4083a9;
  opacity: .7;
  transition: opacity .3s
}

.filters-block-body .link-clear-filters:hover {
  text-decoration: none;
  opacity: 1
}

.filter-selected-item {
  background: #5bc0dd;
  color: #fff;
  padding-right: 20px;
  position: relative;
  display: inline-block
}

.filter-selected-item-remove {
  color: #fff;
  background: #3297b3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15px;
  padding: 3px;
  border-radius: 0 .25em .25em 0;
  cursor: pointer
}

.filter-selected-item-remove:hover {
  background: #27758b;
  color: #fff
}

.jarviswidget .panel-body>.filter-group-wrap {
  margin: -15px -16px -15px
}

.filter-group {
  margin: 0;
  border-radius: 0;
  border-color: #ccc
}

.filter-group:first-child {
  border-top: 0
}

.filter-group:last-child {
  border-bottom: 0
}

.filter-group .panel-heading .action-checkbox {
  float: left
}

.filter-group .panel-heading .panel-title {
  font-size: .875em;
  display: block;
  padding: 8px 10px;
  background: #f9f9f9
}

.filter-group .panel-heading .panel-title:hover,
.filter-group .panel-heading .panel-title:focus {
  color: #888;
  text-decoration: none
}

.filter-group .panel-heading .panel-title .fa {
  font-size: 1.75em;
  line-height: 1;
  color: #c3c2c2
}

.filter-group .panel-heading .panel-title .date-range-js {
  width: 200px;
  float: right;
  margin-top: -4px;
  height: 28px
}

.filter-group .panel-heading .fa-angle-down {
  display: none
}

.filter-group .panel-heading .collapsed .fa-angle-up:before {
  content: "\f107"
}

.filter-group .panel-heading .collapsed .fa-angle-up {
  display: none
}

.filter-group .panel-heading .collapsed .fa-angle-down {
  display: block
}

.filter-group+.filter-group {
  border-top: 0
}

.panel-body.filter-item-group {
  padding: 15px 28px
}

.fa.filter-item-info {
  position: absolute;
  right: 0;
  font-size: 10px;
  height: 14px;
  width: 14px;
  line-height: 12px;
  text-align: center;
  border: 1px solid #888;
  border-radius: 9px;
  color: #888;
  cursor: pointer
}

.panel.filter-group {
  border-radius: 0;
  margin-bottom: 0;
  margin-top: -1px
}

.panel-heading .action-checkbox {
  margin: 0
}

.panel-heading .fa.fa-angle-up,
.panel-heading .fa.fa-angle-down {
  font-size: 1.75em;
  line-height: 1;
  margin-top: -4px;
  color: #c3c2c2
}

.filter-item .checkbox {
  padding-left: 20px
}

.filter-item .checkbox>label {
  padding: 0
}

.filter-tabs-panel .filter-tabs-panel-heading {
  padding: 0 15px
}

.filter-tabs-panel .nav.filter-tabs-nav {
  display: -ms-flex;
  display: flex;
  -ms-align-items: stretch;
  align-items: stretch
}

.filter-tabs-panel .nav.filter-tabs-nav>li>a {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  border-radius: 0;
  border-bottom: 3px solid transparent;
  background: transparent;
  height: 100%
}

.filter-tabs-panel .nav.filter-tabs-nav>li.active>a,
.filter-tabs-panel .nav.filter-tabs-nav>li.active>a:hover,
.filter-tabs-panel .nav.filter-tabs-nav>li>a:hover {
  color: #447499;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 3px solid #447499
}

.filter-tabs-panel .filter-tabs-nav-item-icon {
  margin: 10px 0
}

.filter-tabs-panel .filter-tabs-nav-item-icon img {
  max-height: 50px;
  max-width: 50px
}

.filter-cascade-group-toggle {
  color: #a3a3a3
}

.filter-cascade-group-toggle:hover,
.filter-cascade-group-toggle:focus {
  text-decoration: none;
  color: #707070
}

.filter-cascade-group-toggle:not(.collapsed):before {
  content: "\f147"
}

.filter-cascade-inner-list-wrap {
  margin-left: 25px
}

.filter-cascade-inner-list {
  padding-top: 10px
}

.filter-cascade-inner-checkbox+.filter-cascade-inner-checkbox {
  margin: 5px 0 0
}

.btn-toggle-filter-in-row {
  float: right;
  margin-top: -5px;
  margin-left: 20px
}

.accordion-filter-wrap .panel-group .panel:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.accordion-filter-wrap .panel-group .panel+.panel:not(:last-child) {
  border-radius: 0
}

.accordion-filter-wrap .panel-group .panel+.panel {
  margin-top: -1px
}

.accordion-filter-wrap .panel-group .panel+.panel:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.accordion-filter-wrap .panel-group {
  width: 100%;
  margin: 0
}

.accordion-filter-wrap .panel-group .panel-heading {
  padding: 0
}

.accordion-filter-wrap .panel-group .panel-title a {
  width: 100%;
  display: inline-block;
  padding: 10px;
  background: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between
}

.accordion-filter-wrap .panel-group .panel-title a:focus {
  outline: 0
}

.accordion-filter-wrap .panel-group .panel-title a:hover {
  text-decoration: none
}

.accordion-filter-wrap [data-toggle=collapse].collapsed .fa-chevron-up,
.accordion-filter-wrap [data-toggle=collapse]:not(.collapsed) .fa-chevron-down {
  display: none
}

.accordion-filter-checkbox-radio-item+.accordion-filter-checkbox-radio-item {
  margin-top: 5px
}